{%extends 'base.html'%}

{%block title%}
<title>Posts</title>
{%endblock%}

{%block body%}
<h1>Posts Page</h1>

<hr>
<h2>Create a new post:</h2>
<form action="/posts" method="POST">
    Author  <input class="form-control" type="text" placeholder="Enter Author" name="author" id="author">
    <br>
    Title  <input class="form-control" type="text" placeholder="Enter Title" name="title" id="title">
    <br>
    Post  <input class="form-control" type="textarea" placeholder="Enter Content" name="content" id="content">
    <br>
    <input class="btn btn-success" type="submit" value="Post">
</form>
<hr>


{%for post in posts%}
<br>
<h3>{{ post.title }}</h3>
{%if post.author%}
<small>Written by: {{post.author}} on {{post.date_posted}}</small>
<br>
<br>
{%else%}
<h5>By: N/A</h5>
<br><br>
{%endif%}

<p>{{ post.content }}</p>

<a class="btn btn-danger" href="/posts/delete/{{post.id}}">Delete</a>
<a class="btn btn-primary" href="/posts/edit/{{post.id}}">Edit</a>
<hr>
{%endfor%}

{%endblock%}


